@model ConfigurationModel
@using SmartStore.Web.Framework;
@using ReadySignOn.ReadyPay.Models;
@using ReadySignOn.ReadyPay;


@{
    Layout = "";
}

<div class="plugin-actions">
    <button type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</div>

<div class="plugin-configuration">
    <div>
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @Html.Raw(@T("Plugins.Payments.AmazonPay.AdminInstruction"))
        </div>
    </div>
    <div>
        <a href="https://sellercentral-europe.amazon.com" target="_blank">
            <img src="@Url.Content("~/Plugins/SmartStore.AmazonPay/Content/branding.png")" alt="Amazon Pay" />
        </a>
    </div>
</div>

@{ Html.RenderAction("StoreScopeConfiguration", "Setting", new { area = "Admin" }); }

