@model ConfigurationModel
@using SmartStore.Web.Framework;
@using ReadySignOn.ReadyPay.Models;
@using ReadySignOn.ReadyPay;


@{
    Layout = "";
}

<div class="plugin-actions">
    <button type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</div>

<div class="plugin-configuration">
    <div>
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @Html.Raw(@T("Plugins.Payments.AmazonPay.AdminInstruction"))
        </div>
    </div>
    <div>
        <a href="https://sellercentral-europe.amazon.com" target="_blank">
            <img src="@Url.Content("~/Plugins/SmartStore.AmazonPay/Content/branding.png")" alt="Amazon Pay" />
        </a>
    </div>
</div>

@{ Html.RenderAction("StoreScopeConfiguration", "Setting", new { area = "Admin" }); }



<script type="text/javascript">
    jQuery(document).ready(function () {

		// Show/hide transaction type warning
		$('#@(Html.FieldIdFor(x => x.TransactionType))').change(function () {
			$('#TransactionTypeWarning').toggleClass('d-none', $(this).val() !== '2');
		}).trigger('change');

		// Show/hide status fetching warning
		$('#@(Html.FieldIdFor(x => x.DataFetching))').change(function () {
			var val = $(this).val(),
				configTable = $('#AmazonPayConfigTable');

			$('#DataFetchingWarning').toggleClass('d-none', val !== '1');

			configTable.find('.data-fetching').hide();
			if (val === '1') {
				configTable.find('.data-fetching-ipn').show();
			}
			else if (val === '2') {
				configTable.find('.data-fetching-polling').show();
			}
		}).trigger('change');

		// Register now
		$('.register-now').click(function () {
			$('.paste-access-data').trigger('click');
			$('#register-now-form').submit();
		});

		// Save access data
		$('#amazon-save-access-data').click(function () {
			$('#access-data-form').submit();
		});

		// Paste access data
		$('.paste-access-data').click(function () {
			//$('#amazon-access-data').trigger('change');
			$('#register-now-dialog').modal('show');

			setTimeout(function () {
				$('#amazon-access-data').focus();
			}, 800);
		});

		// Keyup in access data textarea
		$('#amazon-access-data').keyup(function () {
			$('#register-now-dialog').find('.btn-primary').prop('disabled', $(this).val().length == 0);
		});
	});
</script>