@model ReadySignOn.ReadyPay.Models.ReadyPayPaymentInfoModel

    <div class="external-checkout-button">
        <div id="readypay-checkout" class="my-2 ml-3">
            <input type="text" ID="ReadyTicketTxt" ClientIDMode="Static" 
                   Font-Names="txtReadyTicket" size="7" runat="server" 
                   style="vertical-align:middle;"
                   onserverchange="ReadyPayBtn_Click" />

            <input type="image" name="btnReadyPay" id="btnReadyPay"
                   src="@Url.Content(Model.SubmitButtonImageUrl)" ClientIDMode="Static" value="READYpay"
                   style="vertical-align:middle;background-color:green;border-width:2px;width:35px"
                   runat="server" onserverclick="ReadyPayBtn_Click" />

            <div id="divMsg" style="display: none">
                <img alt="Please approve on your phone..."
                     style="width:30px"
                     src="../images/loader.gif" />
            </div>

            @*<a id="readypay-button" href="javascript:void(0)">
                <img alt="" src="@Url.Content(Model.SubmitButtonImageUrl)" />
            </a>*@
        </div>
    </div>
