@using ReadySignOn.ReadyPay
@model ReadySignOn.ReadyPay.Models.ReadyPayPaymentInfoModel

@{
    Html.AddCssFileParts(ResourceLocation.Foot, true, Url.Content("~/Plugins/ReadySignOn.ReadyPay/Content/InPlaceReadyPay.css"));
    Html.AddCssFileParts(ResourceLocation.Foot, true, Url.Content("~/Content/vendors/pnotify/css/pnotify.css"));
    Html.AddCssFileParts(ResourceLocation.Foot, true, Url.Content("~/Content/vendors/pnotify/css/pnotify.buttons.css"));
    Html.AddCssFileParts(ResourceLocation.Foot, true, Url.Content("https://sciactive.com/pnotify/src/PNotifyBrightTheme.css"));
    Html.AddScriptParts(ResourceLocation.Foot, true, Url.Content("~/Plugins/ReadySignOn.ReadyPay/Scripts/InPlaceReadyPay.js"));
    Html.AddScriptParts(ResourceLocation.Foot, true, Url.Content("https://sciactive.com/pnotify/lib/iife/PNotify.js"));
    Html.AddScriptParts(ResourceLocation.Foot, true, Url.Content("https://sciactive.com/pnotify/lib/iife/PNotifyConfirm.js"));
    Html.AddScriptParts(ResourceLocation.Foot, true, Url.Content("https://sciactive.com/pnotify/lib/iife/PNotifyButtons.js"));
}

<div class="art-ready-pay" 
     data-productid="@Model.ProductId" 
     data-ordertotal="@Model.OrderTotal" 
     data-readypaybuttonimg="@Model.SubmitButtonImageUrl"
     data-readypayloaderimg="@Model.LoaderImageUrl">
    <input type="text" pattern="\d*" data-readyticket="" size="7" >
    <button></button>
</div>

