@model ReadySignOn.ReadyPay.Models.ReadyPayPaymentInfoModel
@{
    Layout = "";
}

@if (Model.CurrentPageIsBasket)
{
    <div id="readypay-checkout" class="my-2 ml-3">
        <a id="readypay-button" href="javascript:void(0)">
            <img alt="" src="@Url.Content(Model.SubmitButtonImageUrl)" />
        </a>
    </div>

    <script>
        $(function () {
            $('#readypay-button').on('click', function (e) {
                e.preventDefault();

                console.log("/// trying to setup ajax call");

                $.ajax({
                    type: 'POST',
                    url: "Plugins/ReadySignOn.ReadyPay/ReadyPay/MiniCartReadyPayPosted",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: { "orderReferenceId": "asdf" },
                    success: function (response) {
                        if (response.success) {
                            console.log("///Ajax call succeeded.");
                        }
                        else {
                            console.log("///Ajax call failed.");
                            displayNotification(response.message, 'error');
                        }
                    }
                });

                return false;
            });

});
    </script>
}